@model ConsumeAmazonApi.DTO.CosmeticsDto

<a asp-action="GetList" asp-controller="Cosmetics" class="btn btn-primary"> Back To View</a>
<form method="post" asp-action="CreateList">
    <div class="col-md-10">
        <div>
            <label>ProductName</label>
            <input type="text" class="form-control" asp-for="ProductName" />
        </div>
        <div>
            <label> Description</label>
            <input type="text" class="form-control" asp-for="Description" />
        </div>
        <div>
            <label>Price</label>
            <input type="text" class="form-control" asp-for="Price" />
        </div>
        <div>
            <label>Brand</label>
            <input type="text" class="form-control" asp-for="Brand" />
        </div>
        <div>
            <button type="submit" class="btn btn-success">Save</button>
        </div>
    </div>
</form>
